colorama==0.4.4
shellingham==1.4.0
pytest==6.2.4
requests==2.27.1
python-dotenv==0.19.2
beautifulsoup4==4.10.0
lxml==4.8.0
anytree==2.8.0
html2text==2020.1.16
python-magic==0.4.25
python-dateutil==2.8.2
tabulate==0.8.9
pwinput==1.0.2